POSTGRES_DB=joomla
POSTGRES_USER=joomla
POSTGRES_PASSWORD=JoomlaPg2026Comm
JOOMLA_SITE_NAME="Portal Mecatronica UMNG"
JOOMLA_ADMIN_USER="Administrador Parcial"
JOOMLA_ADMIN_USERNAME=admin
JOOMLA_ADMIN_PASSWORD=AdminJoomla2026Comm
JOOMLA_ADMIN_EMAIL=admin@parcial.edu.co
JOOMLA_DB_PREFIX=jos_
GF_ADMIN_USER=admin
GF_ADMIN_PASSWORD=GrafanaAdmin2026